<div class="top-panel-actions">
    <div class="titles">
        <h3 class="section-title">Manage - {{menu.name}}</h3>
    </div>
    <div class="left tabs">
        <button type="button" class="btn btn-default" (click)="tab=0">Overview</button>
        <button type="button" class="btn btn-default" (click)="tab=1;">View</button>
    </div>
    <div class="right buttons">
        <button type="button" class="btn btn-danger" (click)="confirmDelete()" [hidden]="tab!=0">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <button class="btn btn-default right" type="button" (click)="onSubmit()" [disabled]="!menuForm.form.valid" [hidden]="tab!=0">Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
    </div>
</div>

<div class="container full-width" #tab0 [hidden]="tab!=0">
    <form (ngSubmit)="onSubmit()" #menuForm="ngForm">
      <div class="form-group">
        <label for="menu_name">Menu Name</label>
        <input type="text" class="form-control col-lg-12 col-md-12 col-sm-12" id="rest_name" [(ngModel)]="menu.name" name="menu_name" required>
        <hr>
        <label for="menu_sections">Section's</label>
        <button type="button" class="btn btn-default float-right standard-bottom-margin" (click)="addSectionModal.open()">Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <table class="table" id="menu_sections" name="menu_sections">
          <tr>
            <th class="col-lg-8">Name</th>
            <th class="col-lg-4">Actions</th>
          </tr>
          <tr *ngFor="let section of menu.sections; let i = index;">
            <td>{{section.name}}</td>
            <td><button type="button" class="btn btn-danger" (click)="removeSection(i)">Remove</button></td>
          </tr>
        </table>
      </div>

    </form>
</div>

<div class="container full-width" #tab1 [hidden]="tab!=1">
    <h1>{{menu.name}}</h1>
    <div *ngFor="let section of menu.sections">
        <h2>{{section.name}} - {{section.description}}</h2>
        <div *ngFor="let product of section.products">
            <h3>{{product.name}} - {{product.price}}</h3>
        </div>
    </div>
</div>

<modal #deleteMenuModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Are you sure?</h4>
    </modal-header>
    <modal-body>
        <h2>Are you sure you want to delete {{menu.name}}</h2>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="deleteMenu()">Delete</button>
    </modal-footer>
</modal>

<modal #addSectionModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Add a Section</h4>
    </modal-header>
    <modal-body>
        <select class="form-control" id="new_section" required [(ngModel)]="addSection">
          <option *ngFor="let section of availableSections" [ngValue]="section">{{section.name}}</option>
        </select>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="confirmAddSection( addSection )">Add</button>
    </modal-footer>
</modal>