
@import "../sass/variables";

//Variables

$liPadding : 20px;
$activeBorder : 7px;
$activePadding: $liPadding - $activeBorder;


.manage-main-panel {
	padding-right: 0px;
}

.manage-side-menu {
	padding: 	10px 10px 10px 0px;
	background-color:		lighten($mainCol, 30%);
	height: 	100%;

	ul {
		padding-left: 		0px;

		li{
			list-style-type: 	none;
			font-size:			1.3em;
			padding:			2px 2px 2px $liPadding;

			&.active-side-menu-element {
				border-left:	$mainCol solid $activeBorder;
				padding-left: 	$activePadding;
			}

			a{
				text-decoration : none;
				color: $secondaryCol;

				&:hover{
					text-decoration: none;
					color: lighten($secondaryCol, 20%);
					font-weight: bold;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
  .manage-side-menu {
  	width: 19.6%;
  }

  .manage-main-panel {
  	width: 80%;
  }
}


@media (min-width: 992px) and (max-width:1199px) {
  .manage-side-menu {
  	width: 39.6%;
  }

  .manage-main-panel {
  	width: 60%;
  }
}