@import "./src/sass/variables";

$liPadding : 20px;
$activeBorder : 7px;
$activePadding: $liPadding - $activeBorder;

$topPanelHeight : 50px;

body {
	color : $secondaryCol;
	overflow : hidden;
	height: 100%;
}

.display-inline-block {
	display : inline-block;
}

.display-block {
	display: block;
}

div.top-panel-actions {
	width:						100%;
	/*margin: 					0px 5px 0px 5px;*/
	display: 					inline-block;
	border-bottom: 				lighten($mainCol, 30%) solid 5px;
	height: 					$topPanelHeight;
	max-height:					$topPanelHeight;

	.right{
		float: right
	}

	.left {
		float: left;
	}


	.titles{
		
		padding-left: 				5px;
		width:						50%;
		display:					inline-block;
	}

	.buttons {
		padding: 6px;
		width: 	 50%;
		display:	inline-block;
		button{
			margin-left: 2px;
			margin-right: 2px;
		}
	}
}


div.panel-contents{
	padding: 		$standardPadding;
	padding-top:	0px;
	height: calc(100% - #{$topPanelHeight - 5px});
}

.page-content {
	width:		100%;
	height:		calc(100% - #{$navBarHeight});
	//margin-top:	-21px;
}

.section-title {
	margin-top:		10px;
}

.btn-default {
	border-color:		$mainCol;

	&:hover{
		border-color:   		$mainCol;
		background-color:		lighten($mainCol, 30%);
	}

	&:focus{
		border-color: 			darken($mainCol, 10%);
		background-color :		$mainCol;
	}

	&:active{
		border-color: 			darken($mainCol, 10%);
		background-color :		$mainCol;
	}

	&:active:focus{
		border-color: 			darken($mainCol, 10%);
		background-color :		$mainCol;
	}
}

.btn {
	border-radius : 0px;
}

.full-width {
	width: 100%;
}

.width-fifty{
	width:50%;
}

.width-forty-eight{
	width: 48%;
}

.full-height {
	height: 100%;
}

.form-control {
	border : none;
	border-radius : 0px;
	&:focus {
		border : none;
	}
}

.standard-right-margin {
	margin-right: $standardMargin;
}

.standard-bottom-margin {
	margin-bottom: $standardMargin;
}

.no-left-padding {
	padding-left: 0px;
}

.float-right {
	float: right;
}

hr {
	margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    border-top: none;
}


.modal-content {
	border-radius: 0px;
}

.page-main-panel {
	padding-right: 0px;
	height: 100%;
}

.page-side-menu {
	padding: 	10px 10px 10px 0px;
	background-color:		lighten($mainCol, 30%);
	height: 	100%;

	ul {
		padding-left: 		0px;

		li{
			list-style-type: 	none;
			font-size:			1.3em;
			padding:			2px 2px 2px $liPadding;

			&.active-side-menu-element {
				border-left:	$mainCol solid $activeBorder;
				padding-left: 	$activePadding;
			}

			a{
				text-decoration : none;
				color: $secondaryCol;

				&:hover{
					text-decoration: none;
					color: lighten($secondaryCol, 20%);
					font-weight: bold;
				}
			}
		}
	}
}


@media (min-width: 1200px) {
  .page-side-menu {
  	width: 19.6%;
  }

  .page-main-panel {
  	width: 80%;
  }
}


@media (min-width: 992px) and (max-width:1199px) {
  .page-side-menu {
  	width: 39.6%;
  }

  .page-main-panel {
  	width: 60%;
  }
}


//Angular Material Adjustments
.md-tab-body-wrapper{
	max-height: 100%;
	height:		100%;
}

.md-tab-body-content {
	padding-top : $standardPadding;
}

div.md-card-header-text{
	width: 100%;
}

md-card-title{
	width: 100%;
}

.margin-fix {
	margin-top: -20px;
}