body {
  color: #0A1C29;
  overflow: hidden; }

.display-inline-block {
  display: inline-block; }

div.top-panel-actions {
  width: 99%;
  margin: 5px;
  margin-top: -10px;
  display: inline-block;
  height: 23%;
  max-height: 75px; }
  div.top-panel-actions .right {
    float: right; }
  div.top-panel-actions .left {
    float: left; }
  div.top-panel-actions .titles {
    border-bottom: #d3e3fc solid 5px;
    margin-left: -5px;
    padding-left: 5px; }
  div.top-panel-actions .buttons {
    padding: 10px; }
    div.top-panel-actions .buttons button {
      margin-left: 2px;
      margin-right: 2px; }

div.panel-contents {
  padding: 10px;
  padding-top: 0px;
  height: 79%; }

.page-content {
  width: 100%;
  height: 100%;
  margin-top: -21px; }

.section-title {
  margin-bottom: 5px; }

.btn-default {
  border-color: #4286f4; }
  .btn-default:hover {
    border-color: #4286f4;
    background-color: #d3e3fc; }
  .btn-default:focus {
    border-color: #1267f1;
    background-color: #4286f4; }
  .btn-default:active {
    border-color: #1267f1;
    background-color: #4286f4; }
  .btn-default:active:focus {
    border-color: #1267f1;
    background-color: #4286f4; }

.btn {
  border-radius: 0px; }

.full-width {
  width: 100%; }

.form-control {
  border: none;
  border-radius: 0px; }
  .form-control:focus {
    border: none; }

.standard-right-margin {
  margin-right: 4px; }

.standard-bottom-margin {
  margin-bottom: 4px; }

.no-left-padding {
  padding-left: 0px; }

.float-right {
  float: right; }

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  border-top: none; }

.modal-content {
  border-radius: 0px; }

.page-main-panel {
  padding-right: 0px; }

.page-side-menu {
  padding: 10px 10px 10px 0px;
  background-color: #d3e3fc;
  height: 100%; }
  .page-side-menu ul {
    padding-left: 0px; }
    .page-side-menu ul li {
      list-style-type: none;
      font-size: 1.3em;
      padding: 2px 2px 2px 20px; }
      .page-side-menu ul li.active-side-menu-element {
        border-left: #4286f4 solid 7px;
        padding-left: 13px; }
      .page-side-menu ul li a {
        text-decoration: none;
        color: #0A1C29; }
        .page-side-menu ul li a:hover {
          text-decoration: none;
          color: #1e547b;
          font-weight: bold; }

@media (min-width: 1200px) {
  .page-side-menu {
    width: 19.6%; }
  .page-main-panel {
    width: 80%; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page-side-menu {
    width: 39.6%; }
  .page-main-panel {
    width: 60%; } }
