

<div class="container">
    <h2>Manage "{{restaurant.getName()}}"</h2>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="rest_name">Restaurant Name</label>
        <input type="text" class="form-control" id="rest_name" [(ngModel)]="restaurant.name" name="rest_name" required>

     	<label for="rest_menu">Menu</label>
     	<h3 id="rest_menu" name="rest_menu" *ngIf="!restaurant.menu || restaurant.menu == 'null'">No Menu Set</h3>
     	<h3 id="rest_menu" name="rest_menu" *ngIf="restaurant.menu">{{restaurant.menu.name}}</h3>
      <button type="button" class="btn btn-default" (click)="openMenuPickerModal()">Change</button>
      </div>

      <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Save</button>

    </form>
</div>



<modal #menuPickerModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Choose a Menu for this Restaurant</h4>
    </modal-header>
    <modal-body>
        <select class="form-control" id="activeMenu" required [(ngModel)]="currentlySelectedMenu">
          <option value="undefined">No Menu</option>
          <option *ngFor="let menu of availableMenus" [ngValue]="menu">{{menu.name}}</option>
        </select>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="selectMenu()">Select</button>
    </modal-footer>
</modal>

<modal #deleteRestaurantModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Are you sure?</h4>
    </modal-header>
    <modal-body>
        <h2>Are you sure you want to delete {{restaurant.name}}</h2>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="deleteRestaurant()">Delete</button>
    </modal-footer>
</modal>