
<div class="top-panel-actions">
    <div class="titles">
        <h3 class="section-title">Manage - {{restaurant.name}}</h3>
    </div>
    <div class="right buttons">
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <button class="btn btn-default right" type="button" (click)="onSubmit()">Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
    </div>
</div>

<div class="container full-width">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <md-tab-group>
        <md-tab label="Overview">
          <hr>
          <div class="col-lg-6 col-md-6 col-sm-12">
          <label for="rest_name">Restaurant Name</label>
          <input type="text" class="form-control" id="rest_name" [(ngModel)]="restaurant.name" name="rest_name" required>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-0"></div>
          
          <div class="restMenu col-lg-6 col-md-6 col-sm-12">
            <label for="rest_menu" class="">Menu</label><br/>
            <div class="col-lg-3 col-md-6 col-sm-12 display-inline-block no-left-padding">
                <input type="text" class="readonly display-inline-block standard-right-margin form-control" id="rest_menu" name="rest_menu" *ngIf="restaurant.menu == null" value="No Menu Set"/>
                <input type="text" readonly class="display-inline-block standard-right-margin form-control" id="rest_menu" name="rest_menu" *ngIf="restaurant.menu" [value]="restaurant.menu.name"/>
            </div>
            
            <button type="button" class="btn btn-default display-inline-block" (click)="openMenuPickerModal()">Change</button>
          </div>
        </md-tab>




        <md-tab label="Opening Times">
          <div class="restOpeningTimes">
            <div id="rest_opening_times col-lg-12 col-md-12 col-sm-12" name="rest_opening_times">
              <button type="button" class="btn btn-default float-right standard-bottom-margin" (click)="addOpeningTime()">Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              <table class="table">
                <tr>
                  <th>Day(s)</th>
                  <th>Opening Time</th>
                  <th>Closing Time</th>
                  <th>Actions</th>
                </tr>
                <tr *ngFor="let openingTime of restaurant.opening_times; let o = index;">
                  <td>{{openingTime.days }}</td>
                  <td>{{openingTime.open}}</td>
                  <td>{{openingTime.close}}</td>
                  <td><button type="button" class="btn btn-danger" (click)="removeOpeningTime(o)">Remove</button></td>
                </tr>
              </table>
            </div>
          </div>
        </md-tab>



        <md-tab label="Tables">
          <div class="form-group">
        
            <div class="restTables">
              <div id="rest_tables col-lg-12 col-md-12 col-sm-12" name="rest_tables">
                <button type="button" class="btn btn-default float-right standard-bottom-margin" (click)="createNewTable()">Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <table class="table">
                  <tr>
                    <th>Name</th>
                    <th>Seats</th>
                    <th>Occupants</th>
                    <th>Qr Code</th>
                    <th>Actions</th>
                  </tr>
                  <tr *ngFor="let table of restaurant.tables; let o = index;">
                    <td>{{table.name }}</td>
                    <td>{{table.capacity}}</td>
                    <td>{{table.occupants}}</td>
                    <td><qr-code [value]="restaurant._id + '&' + table._id" [size]="100" [canvas]="true"></qr-code></td>
                    <td><button type="button" class="btn btn-danger" (click)="removeTable(o)">Remove</button></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </md-tab>





        <md-tab label="Images">
        <hr>
          <input type="file" #logoImagePicker /><button type="button" (click)="uploadImage()">Upload</button>
          <img [src]="restaurant.getLogoUrl()"/>
        </md-tab>
      </md-tab-group>
      

    </form>
    
</div>





